# see https://symfony.com/doc/current/reference/configuration/framework.html
framework:
    secret: '%env(APP_SECRET)%'

    session:
        handler_id: null
        cookie_secure: auto
        cookie_samesite: lax
        cookie_httponly: true
        storage_factory_id: session.storage.factory.native
        cookie_lifetime: 3600
        gc_maxlifetime: 3600
        name: ARTISANA_SESSION

    csrf_protection: true

when@test:
    framework:
        test: true
        session:
            storage_factory_id: session.storage.factory.mock_file
